<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Victor Antonio Pereira">
    <meta name="description" content="Parafuso, comercio de ferragens, ferragens, porcas, arruelas, barra roscada, atacado de Parafusos">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="../../img/FavIcon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>CATALOGO</title>
</head>
<body>
    <header>
        <div class="content">
            <nav>
                <p class="brand"><strong>COMAFE</strong></p>

                <ul>
                    <li><a href="#Catalog">Calago</a></li>
                    <li><a href="#about">Sobre nós</a></li>
                    <li><a href="#feature">recurso</a></li>
                    <button>CADASTRAR</button>
                </ul>
            </nav>

            <div class="header-block">
                <div class="text">
                    <h2>the perfect car for you</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus tempore sint commodi incidunt, nobis similique ea corporis cumque aliquam numquam sunt doloribus suscipit sed dicta sequi ad. Repudiandae, velit perferendis.</p>
                </div>
                <img src="../../img/logoSemFundo.png" alt="Parafuso">
            </div>
        </div>
    </header>

    <section class="catalog" id="catalog">
        <div class="content">
            <div class="title-wrapper-catalog">
                <p>O que você procura?</p>
                <h3>catalogo</h3>
            </div>

            <div class="filter-card">
                <input type="search" class="search-input" placeholder="choose you item">
                <button class="search-button">search</button>
            </div>

            <div class="card-wrapper">  
                <div class="card-item">
                    <img src="../../img/logoSemFundo.png" alt="parafuso">
                    <div class="card-content">
                        <h3>audi supra TT</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere.</p>
                        <!-- <button onclick="abrirModal()" class="btn" type="button">Tenho interesse</button> -->
                        <button class="btn" type="button" data-target="modal-1">Tenho interesse</button>
                    </div>
                </div>
                

                <div class="card-item">
                    <img src="../../img/logoSemFundo.png" alt="parafuso">
                    <div class="card-content">
                        <h3>audi supra TT</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere.</p>
                        <button class="btn" type="button" data-target="modal-2">Tenho interesse</button>
                    </div>
                </div>

                <div class="card-item">
                    <img src="../../img/logoSemFundo.png" alt="parafuso">
                    <div class="card-content">
                        <h3>audi supra TT</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere.</p>
                        <button class="btn" type="button" data-target="modal-3">Tenho interesse</button>
                    </div>
                </div>

                <div class="card-item">
                    <img src="../../img/logoSemFundo.png" alt="parafuso">
                    <div class="card-content">
                        <h3>audi supra TT</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere.</p>
                        <button class="btn" type="button" data-target="modal-4">Tenho interesse</button>
                    </div>
                </div>

                <div class="card-item">
                    <img src="../../img/logoSemFundo.png" alt="parafuso">
                    <div class="card-content">
                        <h3>audi supra TT</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere.</p>
                        <button class="btn" type="button" data-target="modal-5">Tenho interesse</button>
                    </div>
                </div>

                <div class="card-item">
                    <img src="../../img/logoSemFundo.png" alt="parafuso">
                    <div class="card-content">
                        <h3>audi supra TT</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere.</p>
                        <button class="btn" type="button" data-target="modal-6">Tenho interesse</button>
                    </div>
                </div>

                <div class="card-item">
                    <img src="../../img/logoSemFundo.png" alt="parafuso">
                    <div class="card-content">
                        <h3>audi supra TT</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere.</p>
                        <button class="btn" type="button" data-target="modal-7">Tenho interesse</button>
                    </div>
                </div>

                <div class="card-item">
                    <img src="../../img/logoSemFundo.png" alt="parafuso">
                    <div class="card-content">
                        <h3>audi supra TT</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere.</p>
                        <button class="btn" type="button" data-target="modal-8">Tenho interesse</button>
                    </div>
                </div>

                <div class="card-item">
                    <img src="../../img/logoSemFundo.png" alt="parafuso">
                    <div class="card-content">
                        <h3>audi supra TT</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere.</p>
                        <button class="btn" type="button" data-target="modal-9">Tenho interesse</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="janela-modal" id="modal-1">
            <div class="modal">
                <button class="fechar-modal">X</button>
                <h1>CHIPBOARD</h1>
                <h4>TAMANHO</h4>
                <p>Trabalhamos com todos os tamanhos</p>
                <p>O parafuso chipboard é projetado para fixar materiais de aglomerado ou madeira compensada. Ele possui uma rosca autoperfurante, cabeça rasa para embutir na superfície e está disponível em diferentes tamanhos. É amplamente usado em móveis e armários devido à sua facilidade de uso e capacidade de proporcionar fixações sólidas.</p>
            </div>
        </div>

        <div class="janela-modal" id="modal-2">
            <div class="modal">
                <button class="fechar-modal">X</button>
                <h1>CHIPBOARD</h1>
                <h4>TAMANHO</h4>
                <p>Trabalhamos com todos os tamanhos</p>
                <p>O parafuso chipboard é projetado para fixar materiais de aglomerado ou madeira compensada. Ele possui uma rosca autoperfurante, cabeça rasa para embutir na superfície e está disponível em diferentes tamanhos. É amplamente usado em móveis e armários devido à sua facilidade de uso e capacidade de proporcionar fixações sólidas.</p>
            </div>
        </div>
    </section>

    <section class="abount" id="about">
        <div class="content">
            <div class="title-wrapper-about">
                <p>Know About us</p>
                <h3>about</h3>
            </div>

            <div class="about-content">
                <div class="left">
                    <img src="../../img/feature-removebg-preview.png" alt="Parafuso">
                    <img class="img2" src="../../img/feature-removebg-preview.png" alt="Parafuso">
                </div>

                <div class="right">
                    <h3>join technology and mobility</h3>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt aperiam ducimus quibusdam non dolore sapiente deleniti! Totam omnis beatae ipsa aut! Asperiores et perferendis rem maiores vel expedita minus odit magni aliquam atque alias voluptate tenetur odio nostrum, delectus autem facilis omnis laboriosam repellendus dicta quos eos ipsa dolorem? Praesentium atque autem sunt reiciendis pariatur ut quasi quaerat velit nam repellendus alias nesciunt fuga, tenetur sint, laboriosam soluta mollitia odit doloribus cupiditate sit accusantium? Neque facilis molestias consequatur blanditiis quaerat voluptate iure adipisci voluptatum odit explicabo quis delectus dolor repudiandae voluptatibus laborum ipsum tenetur, deserunt accusamus animi a earum praesentium!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="features" id="features">
        <div class="content">
            <div class="title-wrapper-features">
                <p>what you can do</p>
                <h3>Features</h3>
            </div>

            <div class="features-card-block">
                <div class="feature-card-item">
                    <img src="../../img/logoSemFundo.png" alt="parafuso">
                    <div class="feature-text-content">
                        <h3>title</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, odit?</p>
                    </div>
                </div>

                <div class="feature-card-item">
                    <img src="../../img/logoSemFundo.png" alt="parafuso">
                    <div class="feature-text-content">
                        <h3>title</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, odit?</p>
                    </div>
                </div>

                <div class="feature-card-item">
                    <img src="../../img/logoSemFundo.png" alt="parafuso">
                    <div class="feature-text-content">
                        <h3>title</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, odit?</p>
                    </div>
                </div>

                <div class="feature-card-item">
                    <img src="../../img/logoSemFundo.png" alt="parafuso">
                    <div class="feature-text-content">
                        <h3>title</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, odit?</p>
                    </div>
                </div>

                <div class="feature-card-item">
                    <img src="../../img/logoSemFundo.png" alt="parafuso">
                    <div class="feature-text-content">
                        <h3>title</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, odit?</p>
                    </div>
                </div>

                <div class="feature-card-item">
                    <img src="../../img/logoSemFundo.png" alt="parafuso">
                    <div class="feature-text-content">
                        <h3>title</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, odit?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="main">
            <div class="content footer-links">
                <div class="footer-company">
                    <h4>company</h4>
                    <h6>about</h6>
                    <h6>contact</h6>
                </div>

                <div class="footer-rental">
                    <h4>rental</h4>
                    <h6>self-driver</h6>
                    <h6>self-driver</h6>
                    <h6>self-driver</h6>
                </div>

                <div class="footer-social">
                    <h4>stay connect</h4>
                    <div class="socil-icons">

                        <a href="#"><i class="bi bi-instagram"></i> @teste</a>
                        <a href="#"><i class="bi bi-facebook"></i> @teste</a>
                        
                    </div>
                </div>

                <div class="footer-contact">
                    <h4>Contact US</h4>
                    <a href="#"><i class="bi bi-whatsapp"></i> +55 (99) 99999-9999</a>
                    <a href="#"><i class="bi bi-envelope-at"></i> teste@gmail.com</a>
                    <a href="#"><i class="bi bi-geo-alt"></i> Localização</a>
                </div>
            </div>
        </div>

        <div class="last">
            Victor Antonio - 2023
        </div>
    </footer>

    <script src="script.js"></script>
</body>
</html>